@font-face {
    font-family: MuseoSansCyrl-500;
    src: local(Museo Sans Cyrl 500), local(MuseoSansCyrl-500)
        url("./fonts/ofont.ru_Museo Sans Cyrl 500.ttf") format("woff2")
        url("./fonts/ofont.ru_Museo Sans Cyrl 500.ttf") format("woff")
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/arial.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/arial.woff") format("woff");
  }
/* body{
    position: static;
    background-size: auto;
    background: url("../img/bg.png") no-repeat center;
} */
body {
    background: url("../img/bg.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }
#rectangle {
    position: fixed;
    opacity: 0.5px;    
    box-shadow: 0px 4px 4px 0px #00000040;
} 
.rectangle{ 
    position: inherit;
    width: 1624px;
    height: 527px;
    top: 408px;
    left: 119px;
    border-radius: 19px;
    border: 4px;
    opacity: 0.5px;

}
