@font-face {
    font-family: MuseoSansCyrl;
    src: local(Museo Sans Cyrl 500), local(MuseoSansCyrl-500)
        url("./fonts/ofont.ru_Museo Sans Cyrl 500.ttf") format("woff2")
        url("./fonts/ofont.ru_Museo Sans Cyrl 500.ttf") format("woff")
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Arial"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/arial.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/arial.woff") format("woff");
  }
/* body{
    position: static;
    background-size: auto;
    background: url("../img/bg.png") no-repeat center;
} */

body {
    background: url("../img/bg.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }

.block{
    width: 1680px;
    height: 855px;
    top: 40px;
    left: 119px;
    border-radius: 20px;
    border: 4px;
    opacity: 0.5px;
    position: fixed;
    display:block;
    margin:auto;
    opacity: 50%;
    user-select: none;
    z-index: -15px;
    transition: 300ms linear;
    &:hover{
        opacity: 100%;
        box-shadow: 0px 0px 30px 2px rgb(36, 36, 36);
    }
}

.bar{
    position: fixed;
    width: 599px;
    height: 52px;
    top: 55px;
    left: 649px;
    border-radius: 75px;
    transition: 250ms linear;
    &:hover{
        position: scale(4px);
    }
}


/* <div class="home">Home</div>
<div class="Profile">Profile</div>
<div class="about_us">Abous Us</div>
<div class="basket">Basket</div> */

.text{
    position: fixed;
    width: 599px;
    height: 52px;
    top: 92px;
    left: 700px;
    border-radius: 75px;
    transition: 250ms linear;
}

.text-bar{
    border-bottom: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.back-bar{
    user-select: none;
}

.bar-item{
    border-bottom: none;
    margin-right: 55px;
}

.bar-link{
    border-bottom: none;
    font-family: calibri;
    display: block;
    font-size: 29px;
    font-weight: 400;
    color: white;
    font-size: 26px;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none;
    transition: 300ms linear;
    &:hover{
        color: rgb(80, 68, 242);
        
    }
}

.open{
    z-index: 1;
    position: fixed;
    left: 775px;
    margin-top: 8%;
    background: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: -2px 6px 0px rgba(71, 34, 79, 0.42);
    font-family: Arial;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.under-open{
    z-index: 1;
    position: fixed;
    mix-blend-mode: normal;
    left: 480px;
    top: 210px;
    margin-top: 1%;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 4px 7px rgba(36, 11, 31, 0.60);
    font-family: Calibri;
    font-size: 40px;
    font-style: normal;
    line-height: 87.746%; /* 35.098px */
    letter-spacing: 0.4px;
} 

.card1{
    z-index: 1px;
    position: fixed;
    left: 200px;
    margin-top: 19%;
    background: center;
}

.card2{
    z-index: 1px;
    position: fixed;
    left: 600px;
    margin-top: 19%;
    background: center;
}

.card3{
    z-index: 1px;
    position: fixed;
    left: 1000px;
    margin-top: 19%;
    background: center;    
}

.card4{
    z-index: 1px;
    position: fixed;
    left: 1400px;
    margin-top: 19%;
    background: center;
}