<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style3.css">
    <title>About Us</title>
</head>
<body>
    <div class="back">
        <div class="text_main">This is a kind of marketplace created solely for the</br> purpose of testing the workflow. This project was</br> created as a pet project that does not carry any </br>semantic meaning, but in the future contact</br> information may be added here below.</div>
        <div class="lipeck"></div>
        <div class="wb"></div>
        <div class="ricki"></div>
        <div class="text">
            <div class="rectangle">
            <ul class="text-bar">
                <li class="bar-item">
                    <a href="#" class="bar-link">Home</a>
                </li>
                <li class="bar-item">
                    <a href="#" class="bar-link">Profile</a>
                </li>
                <li class="bar-item">
                    <a href="#" class="bar-link">About Us</a>
                </li>
                <li class="bar-item">
                    <a href="#" class="bar-link">Basket</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    
</div>
</body>
</html>