{% load static %}
<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Shoes</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style3.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b8991598b2.js"></script> <!--fontawesome.com-->
</head>
<body>
<div class="open">Abous us???</div>
<div class="under-open">
    This is a kind of marketplace created solely for the purpose of testing the workflow.<br/> This project was created as a pet project that does not carry any semantic meaning,<br/> but in the future contact information may be added here below.</div>
<div class="block">
    <img src="{% static 'main/img/rectangle.png' %}" alt="rectangle">
</div>
<div class="bar">
    <img src="{% static 'main/img/bar.png' %}" alt="bar" class="back-bar">
    <div class="text">
        <ul class="text-bar">
            <li class="bar-item">
                <a href="/page" class="bar-link">Home</a>
            </li>
            <li class="bar-item">
                <a href="#" class="bar-link">Profile</a>
            </li>
            <li class="bar-item">
                <a href="/about" class="bar-link">About Us</a>
            </li>
            <li class="bar-item">
                <a href="#" class="bar-link">Basket</a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="mem"><img src="{% static 'main/img/pc.jpg'%}" alt="pc"></div>
<div class="offer">не является публичной офертой</div> -->
<section class="section-map">
    <h3 class="section-map_title"></h3>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A19dc8e081d34d7fda7eb8b62c23d7f4b3b0bd80601b375eaf35ba305dd0b3765&amp;width=900&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</section>

</div>
</body>
</html>